<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <section class="contenedor-principal">
        <section class="contenedor-login">

            <figure>
                <img src="https://lms.misiontic2022udea.com/pluginfile.php/1/core_admin/logo/0x200/1654218085/ingenia.png" alt="">
            </figure>

            <form action="" class="contenedor-formulario">
                <input type="text" placeholder="Nombre de Usuario">
                <input type="password" placeholder="Contraseña">
                <button type="submit">ACCEDER</button>
            </form>

        </section>
    </section>
</body>
</html>