<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenidos a mi página web</h1>
    <h2>Mamá estoy triunfando</h2>
    <h4>Hice mi segunda página web usando HTML</h4>
    <p>Mi nombre es Juan Manuel ...... </p>
    <ul>
        <li>Pokemon</li>
        <li>Tocar guitarra</li>
        <li>Hacer ejercicio</li>
    </ul>
    <form>
        <input type="text">
        <input type="text">
    </form>
    <h4 class="otro-parrafo">Este es otro h4</h4>

    <div class="contenedor-principal">
        <div class="caja1">CAJA 1</div>
        <div class="caja2">CAJA 2</div>
        <div class="caja3">CAJA 3</div>
    </div>

    <img src="https://as01.epimg.net/meristation/imagenes/2021/07/12/noticias/1626087143_668870_1626087190_noticia_normal.jpg" alt="">
</body>
</html>